<mat-toolbar class="mb-3">
  <div class="w-100">
    <div class="row align-items-center">
      <div class="col-auto">
        Dashboard
      </div>
      <div class="col"></div>
      <div class="col-auto">
        <button mat-raised-button color="primary" type="button">
          Dodaj rachunek
        </button>
      </div>
      <div class="col-auto">
        <button mat-raised-button color="primary" type="button">
          Spłać
        </button>
      </div>
    </div>
  </div>
</mat-toolbar>

<p>
  Dashboard work
</p>
