<form [formGroup]="form" (submit)="form.dirty && form.valid && onSubmit()" novalidate>
  <pre>{{form.value | json}}</pre>
  <div mat-dialog-title>
    <div class="row align-items-center">
      <div class="col">Logowanie</div>
      <div class="col-auto">
        <button type="button" mat-icon-button mat-dialog-close>
          <mat-icon>close</mat-icon>
        </button>
      </div>
    </div>
  </div>
  <div mat-dialog-content>
    <div class="row">
      <mat-form-field class="col-12">
        <input matInput placeholder="Nazwa użytkownika" formControlName="UserName"
               required>
        <mat-error *ngIf="form.get('UserName').hasError('required')">
          Pole jest <strong>wymagane</strong>
        </mat-error>
      </mat-form-field>
    </div>

    <div class="row">
      <mat-form-field class="col-12">
        <input type="password" matInput placeholder="Hasło" formControlName="Password"
               required>
        <mat-error *ngIf="form.get('Password').hasError('required')">
          Pole jest <strong>wymagane</strong>
        </mat-error>
      </mat-form-field>
    </div>

  </div>
  <div mat-dialog-actions class="justify-content-end">
    <button matDialogClose mat-raised-button type="button">Anuluj</button>
    <button mat-raised-button class="col-auto"
            color="primary" [ngClass]="{disabled: form.invalid || form.pristine}">Zapisz
    </button>
  </div>

</form>
