<div mat-dialog-title>
  <div class="row align-items-center">
    <div class="col">Rejestracja</div>
    <div class="col-auto">
      <button type="button" mat-icon-button mat-dialog-close>
        <mat-icon>close</mat-icon>
      </button>
    </div>
  </div>
</div>
<div mat-dialog-content>

</div>
<div mat-dialog-actions class="justify-content-end">
  <button matDialogClose mat-raised-button type="button">Anuluj</button>
  <button mat-raised-button class="col-auto"
          color="primary" (click)="onSubmit()">Klik
  </button>
</div>
