.mat-column-actions{
  overflow: initial;
  display: flex;
  justify-content: flex-end;
}

.fix-icon{
  width: 130px;
}

.isActive {
  font-weight: 700;
}

.mat-drawer-container{
  //border-left: 1px solid red;
}


.btn-item{
  text-align: start;
}
